code {
	background: #efefef;
}

header.main { margin-bottom: 1rem; }

.ui.list .list > .item .header, 
.ui.list > .item .header, 
.ui.list .item a { 
	color: #009FDA !important; 
}

.posts .post .body,
.posts .post .meta,
.posts .post .actions,
.post.detail .body,
.post.detail .metadata,
.post.detail .actions,
.post.form .actions,
.comment.form .actions {
	margin-top: 1rem;
}

.posts .post:last-child .ui.divider { 
	display: none; 
}

.post.form .preview.segment {
	margin-top: 0;
}

.post.form .ui.body.field.grid {
	margin-bottom: 1rem;
}
.post.form .ui.body.grid .eight.wide.column {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;	
}

.post.form .ui.body.field.grid .eight.wide.column:nth-child(n+2) {
	padding-left: 1rem;
	padding-right: 0;	
}

.post.detail .actions a {
	margin-right: 1rem;
}

.post.detail .metadata {
	color: rgba(0, 0, 0, 0.4);
}