header.main { margin-bottom: 1rem; }

.ui.list .list > .item .header, 
.ui.list > .item .header, 
.ui.list .item a { 
	color: #009FDA !important; 
}

.posts .post .body,
.posts .post .meta,
.posts .post .actions,
.post-detail .body,
.post-detail .meta,
.post-detail .actions,
.post-form .actions {
	margin-top: 1rem;
}

.post-form .preview {
	margin-top: 0;
}

.post-detail .actions a {
	margin-right: 1rem;
}
.posts .post:last-child .ui.divider { 
	display: none; 
}